
  <nav class="min-height navbar bg-Bfvds navbar-light bg-light justify-content-between bottomMargin2">
    <a class="navbar-brand color-me-whitesmoke">FILMISTAN admin portal</a>
    <div>
      <button (click)="logoutOfApp();"  class=" bg-Bfvds nav-item color-me-whitesmoke" type="button"  value="button text">Logout</button>
  </div>
  </nav>
<!--cards-->
 <!-- cards -->
 <div class="container-fluid">
 <div class="row container-fluid">
   <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
     <div class="card div_hover" style="width: 18rem;">
       <img src="assets/citty.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Cities</h5>
         <p class="card-text">View, add and edit cities here.</p>
         <a href ="filmistan/admin/cities" class="btn btn-primary">Go</a>
       </div>
     </div>
   </div>
   <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
     <div class="card div_hover" style="width: 18rem;">
       <img src="assets/theatre.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Theatres</h5>
         <p class="card-text">View, add and edit Theatres here</p>
         <a href="filmistan/admin/theatres" class="btn btn-primary">Go</a>
       </div>
     </div>
   </div>
   <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center bottomMargin">
     <div class="card div_hover" style="width: 18rem;">
       <img src="assets/showTimelogo.jpg" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Show Times</h5>
         <p class="card-text">View, add and edit Show Times here</p>
         <a href="filmistan/admin/timings" class="btn btn-primary">Do</a>
       </div>
     </div>
   </div>
   <div class="col-sm-12 col-md-6 col-lg-4 row justify-content-center topMargin2 bottomMargin">
    <div class="card div_hover" style="width: 18rem;">
      <img src="assets/movies.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Movies</h5>
        <p class="card-text">View, add and edit Movies here</p>
        <a href="filmistan/admin/movies" class="btn btn-primary">Do</a>
      </div>
    </div>
  </div>
   </div>
  