.bg-Bfvds{background-color:#151718!important}

.navbar-Whiteeeee .navbar-brand {
    color: rgba(231, 231, 231, 0.9);
  }
  .whiebg{
    background-color: antiquewhite;
  }

  .jumbsize{
    height: 300px;
  }

  .nav-link2 {
    display: block;
    padding: 0.5rem 1rem;
  }

  .color-me-whitesmoke{
    color:whitesmoke;
  }

  .to-rightAlign{
      text-align: right;
  }

  .content-to-right{
      align-content: flex-end;
  }

  .poster{
    width:300px;
    height:450px;
}

.row{
margin-right: 0 !important;
margin-left: 0 !important;
}

  .mt-100 {
    margin-top: 100px
}

body {
    background: white;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    color: #514B64;
    min-height: 100vh
}

.movetoTop{
  vertical-align: top;
}

  .min-height{
      height: 100px;
  }

  .bottomMargin2{
    margin-bottom: 10px;
  }

  .main-left-margin{
      margin-left: 100px;
  }

  .main-right-margin{
    margin-right: 100px;
}

.button-container-span {
  float:right;
}
.button-container-span2 {
  float:center;
}

.textHiegth{
  text-emphasis: size after 11px;;
}